<!DOCTYPE html>
<html lang="en">

<head>

    <title>Vue 3 Basics</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }

        .box.two {
            background-color: aqua;

        }

        .box.three {
            background-color: blue;
        }

        [v-cloak] {
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>

<body>
    <!-- v-cloak dapat digunakan untuk menghilangkan curly braces(kurung kurawal) saat laman website loading -->
    <div id="app" v-cloak>
        <!-- {{ greeting }}
        <input type="text" @keyup.enter="greet(greeting + '!!!!!!')" v-model="greeting"> -->
        <login-form></login-form>
        <hr>
        <!-- perbedaan menggunakan show dengan if, yaitu jika show kondisi false maka div masih akan dirender oleh browser, sedangkan if tidak -->
        <!-- <button @click="isVisible = !isVisible">Toggle Box</button> -->
        <button @click="toggleBox">Toggle Box</button>
        <div class="box" v-if="isVisible"></div>

    </div>
</body>

<script src="https://unpkg.com/vue@next"></script>
<script>
    let app = Vue.createApp({
        data: function () {
            return {
                greeting: 'Hello Vue 3!',
                isVisible: false,
            }
        },
        methods: {
            toggleBox() {
                this.isVisible = !this.isVisible
            },
            greet(greeting) {
                console.log(greeting)
            }
        }

    })
    // data function disini lingkupnya hanya dapat membaca variabel didalam component login-form
    app.component('login-form', {
        // :label merupakan shorthand dari v-bind:label, digunakan untuk melakukan passing data antar components.
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <custom-input v-model="email" :label="emailLabel"/>
                <custom-input  v-model="password" :label="passwordLabel"/>
                <button>Log In</button>
            </form>
        `,
        components: ['custom-input'],
        // data function
        data() {
            return {
                title: 'Login Form',
                email: '',
                password: '',
                emailLabel: 'Email',
                passwordLabel: 'Password'
            }
        },
        methods: {
            handleSubmit() {
                console.log(this.email, this.password);
            }
        }
    })

    app.component('custom-input', {
        template: `
            <label>
                {{ label }}
                <input type="text" v-model="inputValue">
            </label>

        `,
        // nilai didalam props bersifat immutable (tidak dapat diubah karena diambil dari parent component)
        props: ['label', 'modelValue'],
        computed: {
            inputValue: {
                get() {
                    return this.modelValue
                },
                set(value) {
                    // emit menjalankan events update untuk memperbarui variabel modelValue
                    this.$emit('update:modelValue', value)
                }
            }
        }

    })
    app.mount('#app')
</script>

</html>